{{ define "main" }}
<div class="section-header">全部文章</div>
<div class="list-group">
{{ range (where .Site.RegularPages "Type" "posts") }}
  <div class="list-item">
    <span class="chevron">›</span>
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <div class="post-meta">
      {{ .Date.Format "2006年1月2日" }}
      {{ if .Params.tags }}
        {{ range first 3 .Params.tags }}
        <span class="tag">{{ . }}</span>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
</div>
{{ end }}
